{% extends "layout.html" %}
{% from "macros.html" import link_button, readonly_field %}

{% block subheader %}
  Share certificate details
{% endblock %}

{% block content %}
  <form>
    {{ readonly_field(
      "Shares",
      "%s—%s" % (certificate.first_share, certificate.last_share,)
    ) }}
    {{ readonly_field( "Current owner", current_owner.name ) }}
    {{ readonly_field( "Total votes", total_votes ) }}
    {{ readonly_field( "Status", certificate.get_status() ) }}
  </form>
  <div class = "divider" ></div>
  <h5 style = "position : absolute;">
    Share composition
  </h5>
  <table
    class = "table"
    data-page-length = "10"
    id = "composition"
  >
    <thead>
      <tr>
        <th>Class</th>
        <th>Quantity</th>
        <th>Sum votes</th>
      </tr>
    </thead>
    <tbody>
    {% for s in shareclasses %}
      <tr>
        <td>{{ s.name }}</td>
        <td>{{ s.count }}</td>
        <td>{{ s.votes }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  <div class = "divider" ></div>
  <h5 style = "position : absolute;">
    Transaction history
  </h5>
  <table
    class = "table"
    data-page-length = "10"
    id = "transactions"
  >
    <thead>
      <tr>
        <th>Date</th>
        <th>Seller</th>
        <th>Buyer</th>
        <th>Price (EUR)</th>
      </tr>
    </thead>
    <tbody>
    {% for t in transactions %}
      <tr>
        <td>{{ t.recorded_on }}</td>
        <td>{{ t.seller }}</td>
        <td>{{ t.buyer }}</td>
        <td style="text-align : right">
          {{ '{:,.2f}'.format(t.price / 100) }}
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  {{ link_button(
    "Go back",
    url_for('share.list')
  ) }}
  {% if not certificate.canceled_on %}
    {{ link_button(
      "Transfer ownership",
      url_for('certificate.transfer', id = certificate.id)
    ) }}
    {{ link_button(
      "Cancel certificate",
      url_for('certificate.cancel', id = certificate.id)
    ) }}
  {% endif %}
{% endblock %}

{% block scripts %}
<script
  data-tableIds = "composition;transactions"
  src = "{{ url_for('static', filename = 'datatable_init.js') }}"
></script>
{% endblock %}
