{% extends "layout.html" %}
{% from "macros.html" import
  link_button, render_dual_field, render_field, submit_button
%}

{% block subheader %}
  Bundle share certificate
{% endblock %}

{% block content %}
  <form
    action = "{{ url_for('certificate.bundle') }}"
    method = "POST"
  >
    {{ render_dual_field(
      form.first_share,
      form.last_share,
      form.last_share.errors
    ) }}
    {{ render_field( form.issued_on ) }}
    {{ render_field( form.shareholder_id ) }}
    {{ form.csrf_token }}
    {{ submit_button( "Submit" ) }}
  </form>
  {{ link_button(
    "Go back",
    url_for('share.list')
  ) }}
{% endblock %}
