/*
 *  custom global styling
 */
body {
    background-color : #ffffff;
    color : #17171f;
    cursor : default;
    font-family : "Source Sans Pro", sans-serif !important;
    margin-bottom : 8rem;
}
footer {
    font-size : 80%;
    padding : 0.5rem 0px;
    text-align : center;
}
nav {
    font-size : 90%;
}
tbody tr {
    cursor : pointer !important;
}

/*
 *  custom selectors
 */
.alert-box {
    border : 1px solid #dc3545;
    color : #dc3545;
    margin-bottom : 1rem;
    padding : 0rem 1rem;
}
.bgcolor-black {
    background-color : #17171f;
    color : #ffffff;
}
.bgcolor-dark {
    background-color : #2b3b43;
    color : #ffffff;
}
.bgcolor-shallow {
    background-color : #dfe3e9;
}
.padded {
    padding : 1rem 0rem;
}

/*
 *  selectively override Bootstrap default styling
 */
* {
    border-radius : 0 !important;
}
.alert {
    border : none;
    color : #ffffff;
    margin-bottom : 0 !important;
}
.alert-danger {
    background-color : #dc3545;
}
.alert-success {
    background-color : #28a745;
}
.btn {
    margin-top : 1rem;
}
.form-control::placeholder {
    color : #c1c7cd;
}
.nav-link, footer a:link, footer a:visited {
    color : #ffffff;
}
.nav-link:hover, .nav-link:active, footer a:hover, footer a:active {
    color : #95c7e9;
    text-decoration : none;
}
@media (min-width : 992px) {
    .container {
        max-width : 840px
    }
}
@media (min-width : 1200px) {
    .container {
        max-width : 840px
    }
}
