{% extends "layout.html" %}

{% block subheader %}
  Transactions
{% endblock %}

{% block content %}
  <table
    class = "table hover"
    data-page-length = "10"
    id = "transactions"
  >
    <thead>
      <tr>
        <th>Date</th>
        <th>Certificate</th>
        <th>Seller</th>
        <th>Buyer</th>
        <th>Price (EUR)</th>
        <th>Per share</th>
      </tr>
    </thead>
    <tbody>
    {% for t in transactions %}
      <tr data-href = "{{ t.id }}">
        <td>{{ t.recorded_on }}</td>
        <td>{{ t.title }}</td>
        <td>{{ t.seller }}</td>
        <td>{{ t.buyer }}</td>
        <td style="text-align : right">
          {{ '{:,.2f}'.format(t.price / 100) }}
        </td>
        <td style="text-align : right">
          {{ '{:,.2f}'.format(t.price_per_share / 100) }}
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}

{% block scripts %}
  <script
    data-root = "/transaction/"
    data-tableIds = "transactions"
    src = "{{ url_for('static', filename = 'datatable_init.js') }}"
  ></script>
{% endblock %}
