{% extends "shareholder/form.html" %}

{% block type_specific %}
  <input
    hidden
    id = "type"
    name = "type"
    value = "natural"
  />
  <label for = "first_name">
    First name
  </label>
  <input
    id = "first_name"
    name = "first_name"
    placeholder = "Fred"
    type = "text"
  />
  <br/>
  <label for = "last_name">
    Last name
  </label>
  <input
    id = "last_name"
    name = "last_name"
    placeholder = "Flintstone"
    type = "text"
  />
  <br/>
  <label for = "nin">
    National Identification Number
  </label>
  <input
    id = "nin"
    name = "nin"
    placeholder = "070770-707A"
    type = "text"
  />
  <br/>
  <label for = "nationality">
    Nationality
  </label>
  <input
    id = "nationality"
    name = "nationality"
    placeholder = "'Murican"
    type = "text"
  />
  <br/>
{% endblock %}
