{% extends "shareholder/form.html" %}

{% block type_specific %}
  <input
    hidden
    id = "type"
    name = "type"
    value = "juridical"
  />
  <label for = "name">
    Legal entity name
  </label>
  <input
    id = "name"
    name = "name"
    placeholder = "Slate Rock and Gravel Co."
    type = "text"
  />
  <br/>
  <label for = "business_id">
    Business ID
  </label>
  <input
    id = "business_id"
    name = "business_id"
    placeholder = "2345678-9"
    type = "text"
  />
  <br/>
  <label for = "contact_person">
    Contact person name
  </label>
  <input
    id = "contact_person"
    name = "contact_person"
    placeholder = "Barney Rubble"
    type = "text"
  />
  <br/>
{% endblock %}
