{% extends "layout.html" %}
{% from "macros.html" import
  delete_button, link_button, render_checkbox, render_field, submit_button
%}

{% block subheader %}
  Add/edit shareholder
{% endblock %}

{% block content %}
  <form
    action = "{{ url_for('shareholder.create_or_update', id = id) }}"
    method = "POST"
  >
    {{ render_field( form.email ) }}
    {% if id == "new" %}
      {{ render_field( form.password ) }}
      {% if form.password.errors %}
        <div class = "alert-box">
          <small>
            Password must have:
            <ul>
              <li>at least 8 characters</li>
              <li>at least one capital letter A-Z</li>
              <li>at least one small letter a-z</li>
              <li>at least one digit 0-9</li>
            </ul>
          </small>
        </div>
      {% endif %}
    {% endif %}
    {% if form.type == "natural" %}
      {{ render_field( form.first_name ) }}
      {{ render_field( form.last_name ) }}
      {{ render_field( form.nin ) }}
      {{ render_field( form.nationality ) }}
    {% elif form.type == "juridical" %}
      {{ render_field( form.name ) }}
      {{ render_field( form.business_id ) }}
      {{ render_field( form.contact_person ) }}
    {% endif %}
    {% set street_class = "form-control" %}
    {% if form.street.errors %}
      {% set street_class = street_class + " is-invalid" %}
    {% endif %}
    <div class = "form-group">
      {{ form.street.label }}
      {{ form.street( class = street_class ) }}
    </div>
    <div class = "form-group">
      {{ form.street_ext( class = street_class ) }}
      <div class = "invalid-feedback">
        {% for error in form.street.errors %}
          {{ error }}
        {% endfor %}
      </div>
    </div>
    {{ render_field( form.zip_code ) }}
    {{ render_field( form.city ) }}
    {{ render_field( form.country ) }}
    {{ render_checkbox( form.has_access ) }}
    {{ render_checkbox( form.is_admin ) }}
    {{ form.is_new( hidden = True ) }}
    <input
      hidden
      name = "type"
      value = "{{ form.type }}"
    />
    {{ submit_button( "Submit" ) }}
    {{ link_button(
      "Go back",
      url_for('shareholder.list')
    ) }}
  </form>
  {% if id != "new" %}
    {{ delete_button(
      "Delete",
      url_for('shareholder.delete', id = id)
    ) }}
  {% endif %}
{% endblock %}
