{% extends "layout.html" %}
{% from "macros.html" import link_button %}

{% block subheader %}
  Shareholders
{% endblock %}

{% block content %}
  <table
    class = "table table-hover"
    id = "shareholders"
  >
    <thead>
      <tr>
        <th>Name</th>
        <th>ID</th>
        <th>Country</th>
        <th>No. of shares</th>
      </tr>
    </thead>
    <tbody>
    {% for s in shareholders %}
      <tr id = {{ s.id }}>
        <td>{{ s.name }}</td>
        <td>{{ s.type_id }}</td>
        <td>{{ s.country }}</td>
        <td>TBA</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  {{ link_button(
    "Add new natural person",
    url_for('shareholder.form', id = 'new') + '?type=natural'
  ) }}
  {{ link_button(
    "Add new juridical person",
    url_for('shareholder.form', id = 'new') + '?type=juridical'
  ) }}
{% endblock %}

{% block scripts %}
  <script>
    $(document).ready(function() {
      $("#shareholders").on("click", "tbody tr", function() {
        window.location.href = "/shareholder/" + $(this).attr("id");
      });
    });
  </script>
{% endblock %}
