{% extends "layout.html" %}
{% from "macros.html" import link_button %}

{% block subheader %}
  Shareholders
{% endblock %}

{% block content %}
  <table
    class = "table hover"
    data-page-length = "10"
    id = "shareholders"
  >
    <thead>
      <tr>
        <th>Name</th>
        <th>ID</th>
        <th>Country</th>
        <th># of shares</th>
      </tr>
    </thead>
    <tbody>
    {% for s in shareholders %}
      <tr data-href = "{{ s.id }}">
        <td>{{ s.name }}</td>
        <td>{{ s.type_id }}</td>
        <td>{{ s.country }}</td>
        <td>{{ s.share_count }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  {{ link_button(
    "Add new natural person",
    url_for('shareholder.form', id = 'new') + '?type=natural'
  ) }}
  {{ link_button(
    "Add new juridical person",
    url_for('shareholder.form', id = 'new') + '?type=juridical'
  ) }}
{% endblock %}

{% block scripts %}
  <script
    data-root = "/shareholder/"
    data-tableIds = "shareholders"
    src = "{{ url_for('static', filename = 'datatable_init.js') }}"
  ></script>
{% endblock %}
