{% extends "layout.html" %}
{% from "macros.html" import link_button %}

{% block subheader %}
  Shares
{% endblock %}

{% block content %}
  <p>
  {% if not last_share_number %}
    No shares issued yet!
  {% else %}
    Shares issued up to <strong>#{{ last_share_number }}</strong>
  {% endif %}
  </p>
  {% if unbound_ranges %}
  <p>
    Unbound shares:
    <ul>
      {% for (a, b) in unbound_ranges %}
      <li>
        {{ a }}—{{ b }}
      </li>
      {% endfor %}
    </ul>
  </p>
  {% endif %}
  {{ link_button(
    "Issue more shares",
    url_for('share.issue')
  ) }}
  <div class = "divider"></div>
  <h5 class = "padded">
    Share certificates
  </h5>
  <table
    class = "table table-hover"
    id = "certificates"
  >
    <thead>
      <tr>
        <th>Certificate</th>
        <th># of shares</th>
        <th>Owner</th>
        <th>Total votes</th>
      </tr>
    </thead>
    <tbody>
    {% for c in certificates %}
      <tr id = {{ c.id }}>
        <td>{{ "%s—%s" % (c.first_share, c.last_share,) }}</td>
        <td>{{ c.share_count }}</td>
        <td>{{ c.owner }}</td>
        <td>{{ c.votes }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  {{ link_button(
    "Bundle new share certificate",
    url_for('certificate.bundle')
  ) }}
{% endblock %}

{% block scripts %}
  <script>
    $(document).ready(function() {
      $("#certificates").on("click", "tbody tr", function() {
        window.location.href = "/certificate/" + $(this).attr("id");
      });
    });
  </script>
{% endblock %}
