{% extends "layout.html" %}
{% from "macros.html" import link_button %}

{% block subheader %}
  Shares
{% endblock %}

{% block content %}
  <p>
    List certificates here ('name' | owner | # of share | # of votes)
  </p>
  <p>
    -------- (some kind of divider element) --------
  </p>
  <p>
    {% if not last_share_number %}
      No shares issued yet!
    {% else %}
      Shares issued up to {{ last_share_number }}
    {% endif %}
  </p>
  <p>
    Unbound shares:
    <ul>
      {% for (a, b) in unbound_ranges %}
      <li>
        {{ a }}—{{ b }}
      </li>
      {% endfor %}
    </ul>
  </p>
  {{ link_button(
    "Bundle new share certificate",
    url_for('certificate.bundle')
  ) }}
  {{ link_button(
    "Issue more shares",
    url_for('share.issue')
  ) }}
{% endblock %}
