{% extends "layout.html" %}
{% from "macros.html" import
  delete_button, link_button, render_field, submit_button
%}

{% block subheader %}
  Add/edit share class
{% endblock %}

{% block content %}
  <form
    action = "{{ url_for('shareclass.create_or_update', id = id) }}"
    method = "POST"
  >
    {{ render_field( form.name ) }}
    {{ render_field( form.votes ) }}
    {{ render_field( form.remarks ) }}
    {{ submit_button( "Submit" ) }}
    {{ link_button(
      "Go back",
      url_for('shareclass.list')
    ) }}
  </form>
  {% if id != "new" %}
    {{ delete_button(
      "Delete",
      url_for('shareclass.delete', id = id)
    ) }}
  {% endif %}
{% endblock %}
