{% extends "layout.html" %}
{% from "macros.html" import
  delete_button, link_button, render_field, submit_button
%}

{% block subheader %}
  Add/edit share class
{% endblock %}

{% block content %}
  <form
    action = "{{ url_for('shareclass.create_or_update') }}"
    method = "POST"
  >
    {{ render_field( form.name ) }}
    {{ render_field( form.votes ) }}
    {{ render_field( form.remarks ) }}
    {{ form.id( hidden = True ) }}
    {{ submit_button( "Submit" ) }}
    {{ link_button(
      "Cancel",
      url_for('shareclass.list_all')
    ) }}
  </form>
  {% if form.id.data != "new" %}
    {{ delete_button(
      "Delete",
      url_for('shareclass.delete', id = form.data.id)
    ) }}
  {% endif %}
{% endblock %}
