{% extends "layout.html" %}
{% from "macros.html" import link_button %}

{% block subheader %}
  Share classes
{% endblock %}

{% block content %}
  <table
    class = "table table-hover"
    id = "shareclasses"
  >
    <thead>
      <tr>
        <th>Name</th>
        <th>Votes per share</th>
        <th>No. of shares</th>
      </tr>
    </thead>
    <tbody>
    {% for s in shareclasses %}
      <tr id = {{ s.id }}>
        <td>{{ s.name }}</td>
        <td>{{ s.votes }}</td>
        <td>TBA</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  {{ link_button(
    "Add new share class",
    url_for('shareclass.form', id = 'new')
  ) }}
{% endblock %}

{% block scripts %}
  <script>
    $(document).ready(function() {
      $("#shareclasses").on("click", "tbody tr", function() {
        window.location.href = "/shareclass/" + $(this).attr("id");
      });
    });
  </script>
{% endblock %}
