{% extends "base.html" %}
{% from "macros.html" import navlink %}

{% block nav %}
  <nav class = "container nav justify-content-end">
    {% if current_user.is_authenticated %}
      {{ navlink( "Shareholders", url_for('shareholder.list') ) }}
      {{ navlink( "Shares", url_for('share.list') ) }}
      {{ navlink( "Share classes", url_for('shareclass.list') ) }}
      {{ navlink( "Logout", url_for('auth.logout') ) }}
    {% else %}
      {{ navlink( "Login", url_for('auth.login') ) }}
    {% endif %}
  </nav>
{% endblock %}

{% block alert %}
  {% with messages = get_flashed_messages(with_categories = true) %}
    {% for category, message in messages %}
    <div
      class = "alert alert-dismissible {{ category }}"
      data-dismiss = "alert"
      role = "alert"
      style = "cursor : pointer;"
    >
      <div class = "container">
        {{ message }}
        <small>
          (click to dismiss)
        </small>
      </div>
    </div>
    {% endfor %}
  {% endwith %}
{% endblock %}
